/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --alternative-color : #000000;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
/*impossible de centrer le body pour screen <1440px et marge à droite */

main {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 30px;
    max-width: 1440px;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-size: 16px;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;

}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header *****/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    padding: 0 0 20px 0;
}

.header-nav {
    width: 344px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.header-nav a:hover,
.header-nav a:focus {  
   color: var(--main-color);
   border-top: solid var(--main-color);
   padding-top: 14px;
}

.header img {
    height: 19px;
    margin-top: 30px;
}

/****** Research *****/
 .search-text {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start ;
    margin-bottom: 15px;
 }
fieldset,
button,
input {
  border: none;
}

.search-bar {
    display: flex;   
 } 

 .search-bar fieldset {
    display: flex;
    margin: 15px 0px 25px -10px;
 }

 .search-bar input {
    width: 180px;
    border-top: var(--main-bg-color) 2px solid ;
    border-bottom: var(--main-bg-color) 2px solid ;
    text-align: center;
}
  
  .search-bar input::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: var(--alternative-color);

  }

  .search-bar .first-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: var(--alternative-color);
  }

  .button-search-txt{
    width: 132px;
    background-color: var(--main-color);
    color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .button-search-icone{
    display: none;
  }

/****** Filter *****/

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.div-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.button-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 16px 9px 16px;
    border-radius: 30px;
    border: #d9d9d9 solid 2px;
 }


 .button-filter:hover{
    background-color: #DEEBFF;
 }

 .button-filter:active {
    background-color: #DEEBFF;
 }

 .button-filter-txt {
    font-size: 18px;
 }

 .button-filter i {
    margin-right: 10px;
    font-size: 16px ;
 }

.information-filter {
    display: flex;
    align-items: center;
}

.icone-filter {
    display: flex;
    align-items: center;
    width:4px;
    height: 4px;
    border-radius:50%  ;
    border: #d9d9d9 solid 2px;
    padding: 10px;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    flex-direction: column;
    width: 65%;
    gap: 30px;
}

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 30px 0px 30px;
}

.hebergements-cards .card{
    width:100%;
    height: 100%;
}

.hebergements-cards a{
   width: calc((100% - 60px) / 3);
   height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin: 8px 0px 8px 0px;
}

.herbergements-cards .card-subtitle {
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    margin: 8px 0px 5px 0px

}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activites ***********/

.activites{
   margin-top: 30px;
   margin-bottom: 30px; 
   padding-top: 30px;
}

 .activites .card {
    width: 100%;
    height: 439px ; 
    padding: 0;
    margin-top: 30px;
 }  
    
.activites-cards a{
    width: calc(100%/4);
}

 .activites-cards img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    object-fit: cover;
    
 }
 

 .activites-cards .activites-card-title{
    margin: 20px 19px;
 }

 .activites-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
 }

 /****** Footer ***********/
.footer{
    padding: 0 50px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*width: 85%;*/
    margin-top: 35px;
}
/*n'arrive pas a centrer le footer*/

.footer-nav {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 10px;
    margin: 20px 0px 20px 20px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Filter ***********/
    .filter{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .div-filter{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        margin: 10px 0px 0px 0px;
    }

    /****** Hebergements and populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }


    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    .herbergements-cards .cards{
        width: 25%;
    }


    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width:calc(94%/3);
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /****** Activities***********/
    .activites .card {
        width: 100%;
        height: 270px ; 
        padding: 0;
     }

    .activites-cards img{
        width: 100%;
        height: 200px; }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    /****** General ***********/
    main{
        padding: 20px 0 0 0;
    }

    /****** Header ***********/
    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        padding: 0;
    }
    
    .header-nav{
        width: 100%; 
        
        
    }
    .header-nav a {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: solid var(--main-bg-color);
        padding-bottom: 20px;
    }
    
    .header-nav a:hover,
    .header-nav a:focus { 
       color: var(--main-color);
       border-top: none;
       border-bottom: solid var(--main-color);
       padding-bottom: 20px;
    }
    
    .header img {
        object-fit: contain;
        margin: 30px 0;
    }


    /****** Search ***********/
    .search-text {
        margin-left: 15px;
    }
    /* je n'arrive pas à agrandir */
    .search-bar{
     width: 100%;
    }

    .search-bar fieldset {
        display: flex;
        margin: 20px 0px ;
     }
    
    .search-bar input{
        width:100% ;
    }
    .button-search-txt{
        display: none;
      }

    .button-search-icone{
        display: block;
        width: 49px;
        background-color: var(--main-color);
        border-radius: 15px;
        filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
        padding-left: -2px;
      }
      .button-search-icone i{
        color: #F2F2F2;
      }

    /****** Filter ***********/
    .filter{
        padding: 0 20px;
    }

    .div-filter{
        flex-wrap: wrap;        
    }

    .information-filter{
        margin: 20px 0px 0px 15px;
        width: 95%;
    }

    /****** Hebergements and populaires ***********/
    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0 ;
        background-color: initial;
    }

    /****** Populaires ***********/
    .populaires {
        background-color: var(--main-bg-color) !important;
        margin-top: 0;
    }
    .populaires-cards a {
        width: 100%;
    }
    .populaires-cards{
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

     /****** Hebergements ***********/
    .hebergements-cards{
        flex-direction: column;
        gap: 10px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    /****** Activities ***********/

    .activites{
        background-color: initial;
        margin-top: 0;
        padding-top: 0;
        padding: 30px;
    }
    .activites-cards{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .activites .card {
        width: 100%;
        margin-top: 15px;
    }
    .activites-cards a {
        width: 100%;
    }

    /****** Footer ***********/
    .footer{
        padding: 0  0 0 20px;
        margin-top: 0;
        flex-direction: column;  
        width: 100%;
    }  
    
    .footer-nav {
        width: 90%;
    }

}